.footer{
    color: w;
    background-color: #f5a568;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 8vw;
    padding-top: 20px;
    width: auto;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 30px;
    
}

 .footer-content-center , .footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
   
    
}
.footer-content-left ul li, .footer-content-center ul li, .footer-content-right ul li{
    margin-bottom: 10px;
    list-style: none;
}

.footer-social-icons img{
    width: 40px;
   
   
}
.footer-social-icons{
    padding-top: 50px;
    display: flex;
    gap: 15px;
    padding-left: 150px;
}
.footer li{
    cursor: pointer;
}
.footer hr{
    width: 100%;
    height: 3px;
    margin: 30px 0px;
    background-color: #fff;
}

.footer-content-left .logo{
    width: 600px;
    /* padding-left: 80px ; */
   background: #1d2228;
   border-radius: 5px;
    
}
@media (max-width:850px) {
    .footer-content-left .logo{
        width: 400px;
        padding-left: 0px ;
    }
    .footer-social-icons {
       padding-left: 133px; 
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
    
}

